/* Selector universal */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector de etiqueta */

h1 {
  font-size: 50px;
  text-shadow: 0px 0px 15px #bdbdbd;
  background: red;
  color: white;
  padding: 10px;
}

footer a {
  color: red;

}

/* Selector de id */

#description,
#titulo
{  
  background: purple;
  border: 1px solid black;
  padding: 15px;
  color: white;
}

/* Selector de clase */

.parrafo {
  font-style: italic;
  font-weight: bold;
  text-align: justify;
}

.parrafo2 {
  background: orange;
}

/* Selector de atributo */
#user form {
  border: 5px solid blue;
  margin: 15px 0;
  padding: 20px;
}

#user form * {
  display: block; /* Cada elemento tiene su espacio línea por línea*/
}

input[type="text"] {
  margin-bottom: 15px;
  padding: 10px;
  width: 300px;
}

input[type="submit"] {
  background: green;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  padding: 15px;
  width: 300px;
  cursor: pointer;
}

/* Child Selector */

#menu > li > a{
  font-size: 18px;
  color: red;
  text-decoration: none;
}

