h1 {
  color: #008cff;
  font-size: 50px;
  text-shadow: 0px 0px 15px #bdbdbd;
  text-decoration: overline;
}

/* Selector universal */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector de etiqueta */


/* Selector de id */


/* Selector de clase */


/* Selector de atributo */

