/* .contact-form__input:first-child {
  color: red;
}

.contact-form__input--active {
  color: #15b300;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  background: #86f;
  padding: 20px 5px;
}

.box {
  background: green;
  width: 80px;
  height: 80px;
  margin: 20px;
  display: flex;
  color: white;
  transition: 0.4s;
  clip-path: circle(50px at 0 20px);
}

.box:hover {
  transform: translate(100px, 200px);
  transform: scale(1,2);
}


b {
  margin: auto;
}

/* Animaciones
.box {
  background: #025;
  height: 100px;
  width: 100px;
  padding: 10px 25px;
  animation-name: desplazarse;
  animation-duration: 1s;
  position: relative;
  animation-timing-function: cubic-bezier(1, -0.1, 0, 1);;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-delay: 1s;
}

@keyframes desplazarse {
  0% {
    left: 10%;
  }
  50% {
    background: royalblue;
  }
  100% {
    left: 80%;
  }
} */

/* .box {
  background: lightgreen;
  width: 100px;
  height: 100px;
  transition-property: background;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  transition-timing-function: ease-out;
}

.box:hover {
  background: green;
} */

/* .grid-container {
  background: #444;
  margin: 10px;
  display: grid;
  grid-template-areas: 
  "header header header"
  "aside main main"
  "aside main main"
  "aside main main"
  "footer footer footer";
  grid-template-rows: repeat(auto-fill, 1fr);
  height: 90vh;
  border: 5px solid #000;
}

.grid-item {
  padding: 20px;
}

.grid-header {
  background: #f96;
  grid-area: header;
}

.grid-main {
  background: #96f;
  grid-area: main;
}

.grid-aside {
  background: #888;
  grid-area: aside;
}

.grid-footer {
  background: #6f9;
  grid-area: footer;
} */

/* .grid-container {
  border: 2px solid black;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px)) ;
  grid-template-rows: repeat(3,200px);
  grid-auto-rows: 200px;
  gap: 10px;
  justify-content: center;
  align-content: space-around;
}

.grid-item {
  border: 1px solid black;
}

.grid-item:first-child {
  justify-self: flex-start;
} */

/*.grid-item:nth-child(2) {
  background: yellow;
  grid-column: 4 / span 1;
} */



/* .flex-container {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #333;
  margin: 50px 30px;
}

.form {
  min-width: 400px;
  text-align: center;
  flex: 1;
  padding: 50px;
}

.form__input {
  width: 100%;
  margin: 6px;
  padding: 6px;
  border: none;
  border-bottom: 3px solid #1c7;
  background: transparent;
  color: #fff;
}

.form__input:focus {
  background: linear-gradient(to bottom, transparent, #222);
  border-bottom: 3px solid #5f9;
  outline: none;
}

.form input[type="submit"] {
  background: #094;
  border-bottom: none;
  padding: 12px;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background: #072;
}

.form input[type="submit"]:active {
  background: linear-gradient(to bottom, #094, #072);
}


.form textarea {
  min-height: 120px;
  resize: none;
}

.form-img {
  flex: 1;
  padding: 30px;
  display: flex;
  min-width: 200px;
  max-width: 400px;
}

.form-img div {  
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 40px;
}

.form-img img {
  width: 80%;
  padding: 10px;
} */

/* .flex-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.flex-item {
  background: blueviolet;
  color: #fff;
  width: 150px;
  height: 120px;
  padding: 10px;
  margin: 5px;
}

.orange {
  background: orange;
  flex-grow: 1;
  flex-basis: 300px;
  flex-shrink: 7;
  order: 1;
}

.green {
  background: green;
  flex-grow: 1;
  align-self: center;
} */

/* .box {
  margin: 25px;
  width: 500px;
  height: 260px;
  border: 2px solid black;
  cursor: pointer;
} */

/* .box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
} */

/* .box {
  width: 200px;
  height: 200px;
  background: slateblue;
  transition: background 0.5s, width 0.5s, height 1s;
} */

/* .box a:link {
  color: #009c82;
}

.box a:visited {
  color: #ff0000;
}

.box:active {
  background:yellow;
}

.box input:focus {
  background: green;
  color: white;
}
.box p:lang(en) {
  background: red;
  padding: 20px;
} */

/* .box:hover {
  width: 300px;
  height: 300px;
  background: red;
  color: white;
} */

/* b {
  padding: 5px;
  width: 100%;
}

b::before {
  content: "Me suscribí";
}

b::after {
  content: "RayWayDay";
  color: #008cff;
} */
/* input {
  margin: 10px;
  border: none;
  outline: none;
}

input::placeholder {
  color: white;
  background: yellowgreen;
} */

/* .text {
  padding: 20px;
} 


.text::selection {
  background: yellow;
}

.text::first-line {
  color: #d63131;
  font-size: 1.5em;
}

.text::first-letter {
  color: red;
  font-size: 2em;
} */

/* .container {
  margin: auto;
  margin-top: 25px;
  background: #4e4e4e;
  color: white;
  width: 70%;
  text-align: justify;  
  padding: 15px;
}

.container img {
  float: left;
  width: 200px;
  margin-right: 10px;
} */

/* .container div {
  float: left;
  width: 50%;
}

.primary {
  background: green;
}

.secondary {
  background: yellow;
} */


/* div {
  height: 300px;
  background: yellow;
  border: 5px solid red;
  overflow: auto;
} */

/* .sticky-box {
  background: rgb(0, 89, 255);
  color: white;
  position: sticky;
  top: 0;
}


.fixed-box {
  background: rgb(0, 89, 255);
  color: white;
  position: fixed;
  margin: -100px;
} */


/* .container {
  width: 600px;
  height: 600px;
  background: green;
  position: relative;
  border: 4px solid red;
  margin: 50px auto;
}

.container div {
  width: 150px;
  height: 150px;
  position: absolute;
  background: yellow;
}

.box {
  background: orange;
  top: 0;
}

.box2 {
  background: violet;
  right: 0;
}

.box3 {
  background: red;
  bottom: 0;
}

.box4 {
  background: aquamarine;
  right: 0;
  bottom: 0;
}

.box5 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
} */
/* Sobreponer padre del hijo
.container {
  width: 300px;
  height: 300px;
  background: blue;
  margin: 40px;
}

.child {
  width: 120px;
  height: 120px;
  background: orange;
  position: relative;
  top: -20px;
  left: -20px;
  z-index: -1;
} */



/* .box {
  width: 200px;
  height: 200px;
  background: red;
  margin: auto;  Centra horizontalmente
  outline: 10px solid blue;
}

.box2 {
  width: 200px;
  height: 200px;
  background: yellow;
  margin: auto;
} */

/* h2 {
  display: inline-block;
  background-color: #fa7901;
  padding: 50px;
  margin: 20px 10px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 2em;
  border: 4px solid #a22;
  box-shadow: 30px 20px 8px 2px #000000;
  text-shadow: 2px 2px 10px #fff, 2px 2px 10px #fff, 2px 2px 10px #fff;
  transform: rotate(-45deg);
}

p {
  height: 40px;
  width: 100px;
} 

.contact-form {
  font-size: 20px;
}

.contact-form__h2 {
  text-align: center;
  font-size: 2em;
} */

