* {
  margin: 0px;
  padding: 0px;
}
body {
  padding: 20px;
}

.box {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border: 10px solid red;
  margin: 15px;
  padding: 20px;
  float: left;
}

.box > p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 250px;
}

/* Remove property float from content above */
.clearfix {
  float: none;
  clear: both; 
}